page-presentation {
    .faq {
        cursor: pointer;
      }
      
      .vote {
        cursor: pointer;
        user-select: none;
      }
      
      body {
        padding: 20px;
      }
      
      .funky {
        color: pink;
      }

      ng-container{
        display: inline;
      }
}
